<title><%= siteTitle %></title>
<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
<meta name='viewport' content='initial-scale=1, maximum-scale=1,user-scalable=no' />
<link rel='stylesheet' href="theme/styles.css" />
<script src='/theme/external/jquery/jquery.js'></script>
