<div id='main' style="width: 100%; height: calc(100% - 60px);">
	<!--blank-->
	<h1 id='welcome'>Welcome to the VoltQ DB</h1> <br/>
	<h2 id='message'>Please use the API to make database requests</h2>
</div>
